# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Data/Indices (Optional, depending on if you want to share the index)
data/faiss_index/
